@using MRWBlogs.Models.Shared
@using MRWBlogs.Models
@using MRWBlogs.Utilities

<div>
  <h3>Please select some tags for your blog</h3>
    <div class="mb-3">
        <label class="form-label labels_of_controls">Create a new tag</label>
        <div class="div_ctrl_btn">
            <div class="div_ctrl">
                <input type="text" class="form-control midium_txt" id="txtTag" placeholder="Type some tag..." @bind-value="newtag">
            </div>
            <div class="div_btn">
                <img title="Add tag" src="/Images/buttons/select.png" @onclick="AddTag">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label labels_of_controls">Selected tags</label>
        <div class="div_ctrl_btn">
        <div class="div_ctrl">
            <select class="form-control midium_txt dispInline" id="cmbExitingTags" @bind="@remSelectedTag">
                <option value="@Constants.SelctOptionValue" >@Constants.SelctOptionTxt</option>
                @foreach (var tag in model.SelectedTags)
                {

                    <option value="@tag">@tag </option>
                }
            </select>
        </div>
        <div class="div_btn">
            <img title="remove selected tag..." src="/Images/buttons/select.png" @onclick="RemoveSelTag">
        </div>
        </div>
    </div>
        
</div>



@code {
    [Inject]
    public ICookie? cookie { get; set; }
    [Parameter]
    public TagsManagerVM model { get; set; } = new();
    private string newtag { get; set; } = string.Empty;
    private string remSelectedTag { get; set; } = Constants.SelctOptionValue;

    private void RemoveSelTag()
    {
        if (model.SelectedTags.Contains(newtag))
        {
            model.SelectedTags.Remove(newtag);
            StateHasChanged();
        }

    }
    private void AddTag()
    {
        if(string.IsNullOrWhiteSpace(newtag))
        {
            return;
        }
        if (!model.SelectedTags.Contains(newtag))
        {
            model.SelectedTags.Add(newtag);
            remSelectedTag = newtag;
            newtag = string.Empty;
        }

        StateHasChanged();
    }
}
