@page "/resetpassword"
@layout GeneralLayout
@using MRWBlogs.Models.LogIn
@using MRWBlogs.Utilities
@using SMAuthentication.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


<EditForm FormName="frmResetPassword" Model="resettterPass" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />
    <section id="MainReg">        
        <div class="container">
            <div class="HolderMsg">
                <div class="ErrMsg"> @ErrMessage </div>
                @if (IsProcesing)
                {
                    <div class="InfoMsg">Processing... </div>
                }
            </div>
             <fieldset>
                <legend>New password generation</legend>
                <div class="mb-3">
                    <label for="email" class="form-label labels_of_controls">Email</label>
                    <input type="email" class="form-control midium_txt" id="txtEmail" placeholder="Email is required" @bind-value="email">
                </div>
                <div class="col-md-3 form-group align-center mt-3">
                    <button type="submit" class="btn btn-outline-warning btn-txt" disabled="@IsProcesing">Send new password</button>
                </div>
            </fieldset>
        </div>
    </section>
</EditForm>

@code {
    private string ErrMessage = string.Empty;
    private bool IsProcesing = false;
    private ResettterPass resettterPass = new();
    private string email = string.Empty;
    private void HandleSubmit()
    {
        ErrMessage = string.Empty;
        IsProcesing = true;
        StateHasChanged();
        if(string.IsNullOrWhiteSpace(email))
        {
            ErrMessage = "Email is required";
            IsProcesing = false;
            StateHasChanged();
            return;
        }
        resettterPass.Email = email;
        string result = string.Empty;
        resettterPass.ResetPassword();
        if (string.IsNullOrEmpty(resettterPass.ErrorMessage))
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            ErrMessage = resettterPass.ErrorMessage;
        }
        IsProcesing = false;
        StateHasChanged();
    }
}
