@using MRWBlogs.Utilities
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<footer>
    <div class="container-fluid">

            <span class="menu-item_medium">
                <span class="menu-item">
                    <a href="rules"><span class="menu_labels">Rules</span></a>
                </span>
                <span class="menu-item">
                    <a href="about"><span class="menu_labels">About</span></a>
                </span>
            </span>
    </div>
</footer>


@code {

}
