@inherits LayoutComponentBase

   
    <NavMenuSimple /> 

    <div class="main">
        <article class="main-content">
            @Body
        </article>
    </div>

<footer>
    My footer
</footer>



