<header>
    <div class="container-fluid">
        <span class="welcome_item">
            <a class="welcome_label" href="/"><span class="welcome_label">Blogs of my real world...</span></a>
        </span>

        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">Rules</span></a>
        </span>
        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">About</span></a>
        </span>
        <span class="menu-item">
            @if (string.IsNullOrEmpty(user_name))
            {
                <a class="text-dark" asp-area="" asp-controller="LogIn" asp-action="LogIn"><span class="menu_labels">Login</span></a>
            }
            else
            {
                <a class="text-dark" href="createblog"><span class="menu_labels_grey">My Account</span></a>
                <a class="text-dark" href="createblog"><span class="menu_labels_grey">Create blog</span></a>
                <a class="text-dark" href="LogOut"><span class="menu_labels_grey">Logout</span></a>
            }
        </span>        
        <div class="menu_item_search">
                <form action="#">
                <input type="text" placeholder="Search.." name="search" class="search_item">
                <button type="submit"><i class="fa fa-search search_item"></i></button>
                </form>
          </div>
    </div>
</header>

@code {
    private string user_name = "sss";
    // protected override void OnInitialized()
    // {
    //     user_name = HttpContextAccessor.HttpContext.Session.GetString("user_name");
    // }
    // [Inject]
    // public IHttpContextAccessor HttpContextAccessor { get; set; }
}