a{
    text-decoration:none;
}
.welcome_label {
    font-family: 'Segoe Script';
    color: lightgoldenrodyellow;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
}

.menu_labels {
    font-family: 'Segoe Print';
    color: lightgoldenrodyellow;
    font-size: 25px;
    margin-right: 20px;
}

.menu_labels_grey, .menu_labels_grey a, .menu_labels_grey a:visited {
    font-family: 'Segoe Print';
    color: #808080;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.welcome_item {
    width: 70% !important;
    display: inline-block;
    position: relative;
}
.welcome_item::first-line {
margin-left:10%;
}
.menu_item {
    display: inline-block;
    position: relative;
}
.menu_item_search {
    display: inline-block;    
    position: relative;
}
.search_item{
    border-radius:7px;
    display:inline;
}