@using MRWBlogs.Utilities
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
<header>
    <div class="container-fluid">
        <span class="@welcome_class">
            <a class="welcome_label" href="/"><span class="welcome_label">Blogs of my real world...</span></a>
        </span>

        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">Rules</span></a>
        </span>
        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">About</span></a>
        </span>
       
            @if (string.IsNullOrEmpty(token))
            {
             <span class="menu-item">
                <a href="login"><span class="menu_labels">Login</span></a>
            </span>
            }
            else
            {
                <span class="menu-item_medium">
                <a class="text-dark" href="createblog"><span class="menu_labels">Create blog</span></a>
                <a class="text-dark" href="createblog"><span class="menu_labels">My Account</span></a>
                <span class="menu_labels_grey link_item" @onclick="onLogOut">Logout</span>
                </span>
            }
                
        <div class="menu_item_search">
                <form action="#">
                <input type="text" placeholder="Search.." name="search" class="search_item">
                <button type="submit"><i class="fa fa-search search_item"></i></button>
                </form>
          </div>
    </div>
</header>

@code {
    private string token = "";
    private string welcome_class = "welcome_item";
    [Inject]
    public ICookie cookie { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (cookie is not null && firstRender)
        {
            token = await cookie.GetValue(SMAuthentication.Constants.Values.UserToken);
            if (!string.IsNullOrEmpty(token))
            {
                welcome_class = "welcome_item_user";
                StateHasChanged();
            }
        }
    }

    private async Task onLogOut()
    {
        if (cookie is not null)
        {
            await cookie.SetValue(SMAuthentication.Constants.Values.UserToken, "", -1);
            await cookie.SetValue(SMAuthentication.Constants.Values.UserLevel, "0", -1);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }

}