<header>
    <div class="container-fluid">
        <span class="welcome_item">
            <a class="welcome_label" href="/"><span class="welcome_label">Blogs of my real world...</span></a>
        </span>

        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">Rules</span></a>
        </span>
        <span class="menu-item">
            <a href="createblog"><span class="menu_labels">About</span></a>
        </span>
        
   </div>
</header>

@code {
    private string user_name = "";
    // protected override void OnInitialized()
    // {
    //     user_name = HttpContextAccessor.HttpContext.Session.GetString("user_name");
    // }
    // [Inject]
    // public IHttpContextAccessor HttpContextAccessor { get; set; }
}
