@using MRWBlogs.Models.Blogs


<div class="BlogSummaryView">
    <figure class="img_room">
        <img src="~/Images/buttons/gen_image.jpg" />
        <img src="~/Images/buttons/gen_image.jpg" />
        <img src="~/Images/buttons/gen_image.jpg" />
    </figure>
    <div class="main_part_room">

    </div>
</div>


@code {
    BlogsMessageSummaryModel model = new BlogsMessageSummaryModel();
}
