@page "/blogdetails"
@using MRWBlogs.Models.Shared
@using MRWBlogs.Utilities

    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />
      <section id="MainReg">
        <div class="container">
           

            <_HolderMessage _model="@holderMessageVM"  />
          </div>
          <div class="container">
              <fieldset>
                <legend>List of my blog's artiles</legend>
                <div class="mb-3">

               </div>
            </fieldset>
        </div>
    </section>

@code {
    [Inject]
    public ICookie? cookie { get; set; }
    [Parameter]
    public BlogDetails? Model { get; set; }
    HolderMessageVM holderMessageVM = new HolderMessageVM();
    private string token = string.Empty;

}
