
@using MRWBlogs.Models.Blogs
@using MRWBlogs.Models.Shared;
@using MRWBlogs.Components.Shared;
@rendermode InteractiveServer
@using MRWBlogs.Utilities
@using Microsoft.AspNetCore.Hosting
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.Extensions.Hosting
@using static MRWBlogs.Models.Shared.HolderMessageVM
@inject IWebHostEnvironment WebHostEn
@inject NavigationManager NavigationManager


<EditForm FormName="frmCreateBlog" Model="modelActionsBlog" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />
    <section id="MainReg">
        <div class="container">


            <_HolderMessage _model="@holderMessageVM" />
        </div>
        <div class="container">
            <fieldset>
                <legend>Create New Blog</legend>
                <div class="mb-3">
                    <label class="form-label labels_of_controls" accesskey=" ">Title</label>

                        <input type="text" class="form-control midium_txt" id="txtBlogTitle" placeholder="Blog Title is required" @bind-value="modelActionsBlog.Title">
               
                </div>
                <div class="mb-3">
                    <label class="form-label labels_of_controls" accesskey=" ">Description</label>
                    <textarea id="txtDescription" name="w3review" rows="4" cols="50" class="form-control midium_txt" @bind="modelActionsBlog.Description">
                        You might want to describe in several words what is your blog aboutand what are your main inetrests? It is optional.
                    </textarea>
                </div>
                @if (!string.IsNullOrEmpty(modelActionsBlog.AvatarUrl))
                {
                    <label class="form-label labels_of_controls" accesskey=" ">Current avatar</label>
                    <div class="avatar">
                        <img src="/Images/Avatars/@modelActionsBlog.AvatarUrl" />
                    </div>
                }
                <div class="mb-3">
                    <label class="form-label labels_of_controls" accesskey=" ">@modelActionsBlog.GetLabelForAvatarSelection()</label>
                    <InputFile OnChange="OnInputFileChange" class="form-control midium_txt" accept=".jpg, .png" />
                </div>
                <_TagsManager model="@modelActionsBlog.TagsManagerVM" />
                <div class="col-md-3 mt-3">
                    <button class="btn btn-outline-light btn-txt">Submit</button>
                </div>
            </fieldset>

        </div>
    </section>
</EditForm>
@code {
    [Inject]
    public ICookie? cookie { get; set; }
    [Inject]
    public IWebHostEnvironment? environment { get; set; }
    [Parameter]
    public required BlogActions modelActionsBlog { get; set; }
    HolderMessageVM holderMessageVM = new HolderMessageVM();
    private List<IBrowserFile> selectedFiles = new List<IBrowserFile>();


    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles().ToList();
    }
    private async Task HandleSubmit()
    {
        holderMessageVM.ClearMessage();
        string token = string.Empty;
        if (cookie != null)
        {

            holderMessageVM.IsProcesing = true;
            token = await cookie.GetValue(SMAuthentication.Constants.Values.UserToken);
        }
        if (modelActionsBlog != null)
        {
            MessageContainer msg = await modelActionsBlog.DoBlogActionAsync(environment, selectedFiles[0], token, modelActionsBlog.TagsManagerVM.GetTagsAsString());
            if (msg.MsgType != MessageType.Success)
            {
                holderMessageVM.SetMessage(msg.Message, msg.MsgType);
                StateHasChanged();
            }
            else
            {
                NavigationManager.NavigateTo("/", forceLoad: true);
            }
        }
    }
}

