h4 {
    color: dimgray;
    font-family: 'Segoe UI';
    font-size:1.5rem;
    font-weight:bold;
}
.BlogSummaryView {
    background-color: lightgrey;
    border: 1px solid navy;
    border-radius: 10px;
    color: navy;
    font-family: Calibri;
    font-size: 20px;
    margin: 20px 0;
    width: 100%;
    padding: 0 1.5%;
}

/* Left area */
.img_room {
    padding: 10px;
    width: 5%;
    display: inline-block;
    vertical-align: top;
}

    .img_room img {
        border: 1px solid #333;
        aspect-ratio: auto;
        width: 100%;
        display: block;
    }
/******LeftArea end**********/
/*          Main Area     */
.main_part_room {
    width: 91%;
    padding: 10px;
    border: 1px solid darkgrey;
    display: inline-block;
    margin-top:10px;
}
.description{
    height:100%;
}
.descriptio_part {
    height: 80%;
    display: block;
}

.key_words_part {
    height: 15%;
    display: block;
    background-color: dimgray;
    color: antiquewhite;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: 'Segoe UI';
}

.key_words_keyword {
    display: inline-flex;
    color: moccasin;
    font-weight: bold;
    margin-right: 10px;
}

.key_words_list {
    display: inline-flex;
}
/* Buttons area */
.buttons_area {
    width: 3%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color:antiquewhite;
}

.icon_menu {
    margin-bottom: 20px;
    margin-left: 10px;
    display: block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    background-color:blanchedalmond;
}

    .icon_menu a {
        color: navy;
    }

.first {
    margin-top: 20px;
}

@media only screen and (max-width: 1220px) {
    .icon_menu, icon_menu a {
        display: inline;
        margin-right: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .buttons_area {

        display: block;
        text-align: left;
        margin-left: 16%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 60%;
        min-height: 30px;
        vertical-align: central;
    }
    .pointer{
        cursor:pointer;
    }
}
