@page "/createblog"
@using MRWBlogs.Models.Blogs
@using MRWBlogs.Models.Shared;
@using MRWBlogs.Components.Shared;
@layout GeneralLayout
@rendermode InteractiveServer
@using MRWBlogs.Utilities
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment WebHostEn


<EditForm FormName="frmCreateBlog" Model="modelCreateBlog" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />
      <section id="MainReg">
        <div class="container">
           

            <_HolderMessage _model="@holderMessageVM"  />
          </div>
          <div class="container">
              <fieldset>
                <legend>Create New Blog</legend>
                <div class="mb-3">
                    <label class="form-label labels_of_controls" accesskey=" ">Title</label>
                    <input type="text" class="form-control midium_txt" id="txtBlogTitle" placeholder="Blog Title is required" @bind-value="modelCreateBlog.Title">
                </div>
                <div class="mb-3">
                    <label class="form-label labels_of_controls" accesskey=" ">Select a picture for avatar</label>
                    <InputFile OnChange="OnInputFileChange" class="form-control midium_txt" />
                </div>

                <div class="col-md-3 form-group align-center mt-3">
                    <button class="btn btn-outline-light btn-txt" @onclick="UploadFiles">Upload avatar</button>
                </div>
                <_TagsManager />
            </fieldset>
           
          </div>
     </section>
</EditForm>
@code {
    [Inject]
    public ICookie? cookie { get; set; }
    CreateBlogVM modelCreateBlog = new CreateBlogVM();
    HolderMessageVM holderMessageVM = new HolderMessageVM();
    private List<IBrowserFile> selectedFiles = new List<IBrowserFile>();
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles().ToList();
    }
    private async Task HandleSubmit()
    {
        // holderMessageVM.ClearMessages();
        // bool result = await modelCreateBlog.CreateBlogAsync();
        // if (result)
        // {
        //     holderMessageVM.InfoMessage = "Blog created successfully.";
        // }
        // else
        // {
        //     holderMessageVM.ErrMessage = modelCreateBlog.ErrorMessage;
        // }
    }
    private async Task UploadFiles()
    {
        modelCreateBlog.Environment = WebHostEn;
        if(cookie != null)
        {

            holderMessageVM.IsProcesing = true;
            string token = await cookie.GetValue(SMAuthentication.Constants.Values.UserToken);
            MessageContainer msg = await modelCreateBlog.UploadAsync(selectedFiles[0], token);
            holderMessageVM.SetMessage (msg.Message,msg.MsgType );
            holderMessageVM.IsProcesing = false;
            StateHasChanged();
        }
    }
}

