<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="MRWBlogs.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="MRWBlogs.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="https://kit.fontawesome.com/c6554b290d.js" crossorigin="anonymous"></script>
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="kit.fontawesome.com" rel="stylesheet" crossorigin="anonymous">
    <HeadOutlet/>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
</body>

</html>
