@page "/"
@using MRWBlogs.Components.Pages.Sections
@layout MainLayout
<PageTitle>Home</PageTitle>
<div class="container2">
    <MainSection/>
    <MainSection/>
    <MainSection />
</div>

@code{
    
}
