@font-face {
    font-family: 'Segoe Script';
    src: url('../fonts/SEGOESC.TTF'); /* IE9 Compat Modes */
    src: url('../fonts/SEGOESCB.TTF')
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/SEGOEPR.TTF'); /* IE9 Compat Modes */
    src: url('../fonts/SEGOEPRB.TTF')
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bookman Old Style';
    color: #ebebeb;
}

html {
    height: 100%;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.topmenu{
    min-height:4rem;
    background-color:burlywood;
    display:block;
}
main {
    position: relative;
}
    main::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-image: url("Images/bg3_res.png");
        opacity: 0.8;
        z-index: 1;
    }
    .main-content{
        position:relative;
        z-index:2;
    }

.container2 {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
header {
    width: 100%;
    background-color: #06043b;
}
footer {
    background-color: #06043b;
    color: #fff;
    padding: 1.5rem;
}
/*
    Top Menu
*/
