@font-face {
    font-family: 'Segoe Script';
    src: url('../fonts/SEGOESC.TTF'); /* IE9 Compat Modes */
    src: url('../fonts/SEGOESCB.TTF')
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/SEGOEPR.TTF'); /* IE9 Compat Modes */
    src: url('../fonts/SEGOEPRB.TTF')
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Bookman Old Style';
    color: #ebebeb;
}

html {
    height: 100%;
}

body {

    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.topmenu{
    min-height:4rem;
    background-color:burlywood;
    display:block;
}
main {
    position: relative;
}
    main::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-image: url("Images/bg3_res.png");
        opacity: 0.8;
        z-index: 1;
    }
    .main-content{
        position:relative;
        z-index:2;
    }
.main {
    position: relative;
    background-color: #0e648f;
}

.container2 {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
header {
    width: 100%;
    background-color: #06043b;
}
footer {
    background-color: #06043b;
    color: #fff;
    padding: 1.5rem;
}
legend {
    font-family: 'Segoe UI';
    color: moccasin;
    font-size: 35px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
fieldset {
    padding-bottom: 70px;
    min-height: 80vh;
}
.InfoMsg {
    font-family: 'Segoe UI';
    color: #6cc3ef;
    font-size: 2rem;
    font-weight: normal;
   
}

.ErrMsg {
    font-family: 'Segoe UI';
    color: #ff6a00;
    font-size: 2rem;
    font-weight: normal;
    
    
}
.HolderMsg
{
    display:block;
    min-height:3rem;
   margin-top:1rem;
}

.midium_txt {
    width: 500px;
}
.alink {
    color: moccasin;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Segoe UI';
}

    .alink:hover {
        color: #ffd800;
    }
.btn-txt {
    font-family: 'Segoe UI';
    font-size: 1.3rem;
}
/*
    Log In
*/
.labels_of_controls {
    color: moccasin;
    font-size: 1.5rem;
    font-family: 'Segoe UI';
}
#LogIn
{
    margin-left:35%;
}

/* text articles such as Rules etc.

    Just text files usuall using headers like h1, h2, h3 etc.
*/
h1 {
    font-family: 'Segoe UI';
    color: lightgoldenrodyellow;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    font-family: 'Segoe UI';
    color: lightgoldenrodyellow;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 15px;
    text-indent: 50px;
}
.article_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 30px;
    text-indent: 50px;
}